@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <style>
        html, body {
            background-image: url('/Images/1.jpg');
        }
        </style>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <h2>
        You Must be Loggin in.
    </h2>
</body>
</html>